
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer>
    <img src="../assets/H-ITB_logo_Stencil.jpg" alt="logo" class="logo">
    <button color="primary" mat-button routerLink="/vevok">Vevők</button>
    <button color="primary" mat-button routerLink="/termekek">Termékek</button>
    <button color="primary" mat-button routerLink="/vizsgalatok">Vizsgálatok</button>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
        <button fxFlex="50px" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
          <span fxFlex="95%">Vizsgálatok</span>
          <mat-icon fxFlex="auto">favorite</mat-icon>

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>publish</mat-icon>
                <span>Megosztás</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>mode_comment</mat-icon>
                <span>Megjegyzés</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Törlés</span>
              </button>
            </mat-menu>

      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>



